.creatorsPage {
    margin-top: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.creatorsPage h3 {
    text-align: center;
}


@media screen and (max-width: 800px) {
    .members {
        width: 80% !important;
    }
}

.members {
    
    width: 60%;
    display: flex;
    flex-direction: column;
}

.member {
    margin: 20px;
    margin-top: 80px;
}

.member:last-child {
    margin-bottom: 100px;
}