.nav-wrapper {
  display: flex;
  background-color: #373737;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  box-sizing: border-box; 
  height: 60px;
  margin-block-start: 0px;
  }

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  padding: 6px 16px;
  color: #f5f5f5;
  border-radius: 4px;
  transition: color 0.8s ease-in-out;
  &:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
}

.active {
  text-decoration: underline;
}

.select-wrapper {
  padding-right: 20px;
  transition: all 1s ease-in;
}

@media (max-width: 847px) {
  .nav-button, .nav-button span, .nav-link {
    display: none;
  }

  .nav-wrapper {
    flex-wrap: nowrap;
  }

  .select-wrapper {
    position: absolute;
    z-index: 1000;
    height: 60px;
    left: 20px;
    border-right: 1px solid #F5F5F5;
    padding-right: 20px;
  }
}