.mobile-nav-button-wrapper {
  display: block;
  background-color: #373737;
  color: #F5F5F5;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; 
  }

  .burger-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    margin-left: 2%;
    cursor: pointer;
  }

  .backdrop {
    position: fixed;
    width: 1000px;
    height: 1000px;
    z-index: 50;
    background: rgba(0,0,0,0.7);
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
  }

  @media (max-width: 3000px) and (min-width: 848px) {
    .mobile-nav-button-wrapper {
      display: none;
    }
  }