body {
  margin-top: 0px;
  background-image: url('./assets/comedy-tragedy-masks.png');
  background-repeat: no-repeat;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App {
  margin: 0 auto;
}